        {% extends "base.html" %}
        {% block content_title %}{% endblock %}
        {% block content %}
        {% if articles %}
        <section class="body">
          {% for article in articles_page.object_list %}
          <article class="post-entry">
            <h4 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h4>
            {% include 'article_infos.html' %}
            <div class="post-summary">
              {{ article.summary }}
            </div>
            <a class="post-readmore" href="{{ SITEURL }}/{{ article.url }}">Read more</a>
            {% include 'comments.html' %}
          </article>
          {% endfor %}
        </section>
        {% endif %}
        {% endblock content %}
