      <div class="search">
        <form id="search-google" name="searchForm" action="https://google.com/search">
          <div class="row">
            <div class="ten columns">
	      <input class="u-full-width" name="q" type="text" placeholder="Keyword..." maxlength="200" />
	      <input name="q" type="hidden" value="site:{{ SITEURL }}"/>
            </div>
            <div class="two columns">
	      <input class="button u-full-width" name="submit" type="submit" value="Search" />
            </div>
          </div>
        </form>
      </div>
      
